.edit-profile-component-container{
    background-color: #2D3F52;
    padding: 2vw;
    border-radius: 0.5vw;

    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1vw;

        >div:nth-of-type(1){

            h1 {
                text-align: center;
                font: bolder 1.5vw "Sofia Sans";
                color: white;
            }
    
            p{
                text-align: center;
                font: normal 0.9vw "Sofia Sans";
                color: white;
            }
        }

        >div:nth-of-type(2){
            display: flex;
            flex-direction: column;
            gap: 1vw;
        }

        >div:nth-of-type(3){
            background-color: #F12C4C;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 10vw;
            padding: 0.75vw;
            border-radius: 0.5vw;
            transition: 0.25s;

            h1 {
                font: bolder 1.25vw "Sofia Sans";
                color: white;
            }

            &:hover {
                cursor: pointer;
                background-color: #814650;
                transition: 0.25s;
            }
        }
        
    }
}

.default-edit-profile-component-input{
    display: flex;
    flex-direction: column;
    gap: 0.2vw;
    width: 20vw;

    label {
        font: 600 0.8vw "Sofia Sans";
        color: white;
    }

    >div:nth-of-type(1){
        display: flex;
        gap: 1vw;

        label {
            display: flex;
            align-items: center;
            gap: 0.5vw;
        }

        input {
            cursor: pointer;
            border: none;
            outline: none;
            box-shadow: none;
            width: 1vw;
        }
    }

    input {
        background: none;
        border: 0.1vw solid #ABABAB;
        height: 2.5vw;
        border-radius: 0.25vw;
        text-indent: 0.5vw;

        color: #ffffff;
        font: 400 0.9vw "Sofia Sans";


        &:focus {
            border: 0.1vw solid #F12C4C;
            outline: 0.1vw solid #F12C4C;
            box-shadow: none;
        }
    }
}